html {
    font-size: 16px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
.page {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1200px;
    padding: 0 30px;
    margin: 0;
}

.container-f {
    width: 100%;
}

.header {
    margin: 0;
    width: 100%;

    .nav {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 45px;
        // border-bottom: 1px solid #eee;
        box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.140);

        .container {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin: auto;
        }


        .navbar-left,
        .navbar-center,
        .navbar-right {
            display: flex;
            position: relative;
        }

        .navbar-left {
            margin-right: auto;
            margin-left: 0;

            .logo {
                padding: 0;
                margin: 0;

                h3.logoh3 {
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                    margin-block-start: 0;
                    margin-block-end: 0;
                }
            }

        }

        .navbar-center {
            margin-right: auto;
            margin-left: auto;
        }

        .navbar-right {
            margin-right: 0;
            margin-left: auto;

            button {
                background-color: rgba(60, 0, 255, 0);
                color: rgb(0, 0, 0);
                border: 1px solid #000;
                font-size: 13px;
                padding: 2px 9px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
                border-radius: 2px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(8, 0, 235);
                    color: #fff;
                    border-color: rgb(8, 0, 235);
                }

            }
        }


        ul.nav-ul {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 15px;
            margin: 0;
            padding: 0;
            list-style: none;


            li {

                text-transform: capitalize;

                &.nav-item a.navlink {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 0 0;
                    height: 45px;
                }



                & .has-dropdown:focus+.dropdown,
                &:focus-within ul,
                & .has-dropdown:hover+.dropdown {
                    display: block;
                }

                .dropdown {
                    position: absolute;
                    min-width: 70px;
                    display: none;
                    background-color: rgb(255, 255, 255);
                    // border: 1px solid #eee;
                    list-style: none;
                    padding: 0;
                    box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.150);
                    z-index: 100;

                    &:hover,
                    &:focus {
                        display: block;
                    }

                    li {
                        font-size: 13px;
                        display: block;
                        padding: 5px;

                        &:hover {
                            background-color: #eee;
                        }

                        a {
                            width: 100%;
                            display: flex;
                            position: relative;

                            &:focus {
                                outline: auto;
                            }
                        }

                    }
                }
            }
        }

    }
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #333;

    #copyright {

        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        margin: 0;
        padding: 0;

        background-color: #000;
        color: #fff;

        .copyright-contaier {

            align-items: center;
            display: flex;
            height: 50px;
            margin: 0 auto;

            p {
                margin: 0;
                padding: 0;
                line-height: 1;
            }
        }
    }
}

@media only screen and (max-width: 768px) {

    .m-dnone {
        display: none !important;
    }

    .container {
        width: 100% !important;
    }

}

@media only screen and (max-width: 1200px) {

    .container {
        width: 100% !important;
    }

}