html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
.page {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1200px;
    padding: 0 30px;
    margin: 0;
}

.container-f {
    width: 100%;
}

.header {
    margin: 0;
    width: 100%;

    .nav {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 45px;
        border-bottom: 1px solid #eee;

        .container {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin: auto;
        }


        .navbar-left,
        .navbar-center,
        .navbar-right {
            display: flex;
            position: relative;
        }

        .navbar-left {
            margin-right: auto;
            margin-left: 0;

            .logo {
                padding: 0;
                margin: 0;

                h3.logoh3 {
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                    margin-block-start: 0;
                    margin-block-end: 0;
                }
            }

        }

        .navbar-center {
            margin-right: auto;
            margin-left: auto;
        }

        .navbar-right {
            margin-right: 0;
            margin-left: auto;

            button {
                background-color: rgb(60, 0, 255);
                color: #fff;
                border: 0;
                font-size: 13px;
                padding: 5px 15px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
                border-radius: 2px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(8, 0, 235);
                }

            }
        }


        ul.nav-ul {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 15px;
            margin: 0;
            padding: 0;
            list-style: none;


            li {

                text-transform: capitalize;


                &.nav-item a.navlink {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 0 0;
                    height: 45px;



                }

                & .has-dropdown:hover+ul.dropdown {
                    display: block;
                }

                & .has-dropdown:focus+ul.dropdown {
                    display: block;
                }

                .dropdown {
                    position: absolute;
                    width: 76px;
                    display: none;
                    background-color: rgb(255, 255, 255);
                    border: 1px solid #eee;
                    list-style: none;
                    padding: 0;

                    &:hover {
                        display: block;
                    }

                    li {
                        font-size: 13px;
                        display: block;
                        padding: 5px;

                        a {
                            position: relative;
                        }
                    }
                }
            }
        }

    }
}